*.crt
*.key
key.json
/yandex-cloud
/.ssh
terraform_1.9.2_linux_amd64.zip
/terraform_yandex/.terraform
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.profile
.selected_editor
.terraform.d/
.terraformrc
.wget-hsts
.zshrc
base_for_wiki_clear.tar.gz
